[project]
name = "rad-innovation-bowl-2025-streamlit-example-visualization"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.12.4",
    "pyvis>=0.3.2",
    "streamlit>=1.51.0",
]
